:root {
    --primary-color: #001B2E;
    --secondary-color: #294C60;
    --third-color: #e3e3e3;
    --fourth-color: #94FBAB;
    --fifth-color: #e2a4c4;
    --sixth-color: #A5ABAF;
    --light-green: #bcf8d3;
    --light-blue: #bad9df;
}

.w3-bg-color1 {
    background: w3-light-grey;
} 
.w3-text-color1 {
    color: w3-text-blue;
}
.w3-bg-color2 {
    background: w3-blue-grey;
}
.w3-text-color2 {
    color: w3-text-blue-grey;
}


.primary-text-color {
    color: #001B2E;

}