body {
    padding: 4%;
}

header {

}

nav {
    /* width: 100vw; */
    /* height: 3em; */
    padding: 2em;

}

h1 {
    /* just under the nav var 
    Except on narrow screens where nav extends to 2 lines,
    it doesn't adjust. I need variables for layout */
    /* padding-top: 3em; */
}

i {
    vertical-align: middle;
}

.tile {
    padding: 2em;
}

.padding {
    padding: 2em;
}

blockquote {
    border-radius: 25%;
}

.lyrics {
    max-height: 30em;
    overflow: auto;
    line-height: 1.2em;
    /* padding: 2em; */
}


#album {
    min-height: 1em;
    vertical-align: bottom;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}


figure img {
    border-radius: 25%;
    margin: 0 auto;
    display: block;
}

figure {
    box-sizing: border-box;
    margin: 0.5rem 0.5rem;
    max-width: 100%;
    min-width: 300px;
    width: 25%;
    float: left;
    border: thin solid var(--fourth-color);
    border-radius: 20%;
}

figcaption {
    max-width: 77%;
    margin: auto;
}

legend {
    border-radius: 50%;
}

fieldset.dark h2, fieldset.dark h3, fieldset.dark h4, fieldset.dark h5, fieldset.dark h6 {
    color: var(--third-color);
} 

÷.pseudoheading {
    clear: both;
    display: block;
    width: 100%;
}

.clearfix {
    clear: both;
}

textarea {
    display: block;
}

th, td {
    padding: 5px;
    border: 1px solid;
    border-spacing: 30px;
    border-collapse: collapse;
}

form {
    border-collapse: collapse;
}

.fa-huge {
    height: 250px;
}

.w3-panel {
    max-width: 75%;
}

/* places fa icons in a nicer position relative to text */
.tall-line {
    line-height: 500px;
}

