:root {
  --primary-color: #001B2E;
  --secondary-color: #294C60;
  --third-color: #e3e3e3;
  --fourth-color: #94FBAB;
  --fifth-color: #e2a4c4;
  --sixth-color: #A5ABAF;
  --light-green: #bcf8d3;
  --light-blue: #bad9df;
}

/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--primary-color);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--third-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--third-color);
  color: var(--primary-color);
  border-radius: 50%;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--fourth-color);
  color: var(--primary-color);
  border-radius: 50%;
}
