:root {
    --primary-color: #001B2E;
    --secondary-color: #294C60;
    --third-color: #e3e3e3;
    --fourth-color: #94FBAB;
    --fifth-color: #e2a4c4;
    --sixth-color: #A5ABAF;
    --light-green: #bcf8d3;
    --light-blue: #bad9df;
}

body {
    background-color: var(--third-color);
    font-family: 'Proza Libre', sans-serif;
    color: black;
    font-size: 1.2em;
}

p {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.2em;
}

header {
    padding: 2em;
    background-color: var(--primary-color);
    color: white;
}

.dark {
    background-color: var(--primary-color);
    color: var(--third-color);
}

h1 {
    color: var(--secondary-color);
    font-size: 4em;
    font-family: 'Princess Sofia', cursive;
}

h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: 'Berkshire Swash', cursive;

}

mark {
    background-color: var(--fourth-color);
}

ul {
    list-style: none;
}

header a {
    color: var(--third-color);
}

a.dark {
    color: var(--third-color); 
    text-decoration: none;
}

header a:visited {
    color: var(--third-color);
}

a.dark:visited {
    color: var(--third-color);
}


header a:hover {
    color: var(--fourth-color);
    font-size: 1.2em;
}

a.dark:hover {
    color: var(--fourth-color);
    font-size: 1.2em;
}

header a:active {
    color: var(--fifth-color);
}

a.dark:active {
    color: var(--fifth-color);
}



a {
    color: var(--secondary-color); 
    text-decoration: none
}

a:visited {
    color: var(--secondary-color);
}

a:hover {
    color: var(--fifth-color);
}

a:active {
    color: var(--primary-color);
    /* color: var(--fourth-color); */
}

table {
    background-color: var(--primary-color);
}

#album {
    background-color: white;
}

td[headers="track"] {
    text-align: center;
}

th {
    background-color: var(--light-green);
}
tr:nth-child(even) {
    background-color: var(--light-green);
}
tr:nth-child(odd) {
    background-color: var(--light-blue);
}

