body {
    background-color: #ADB6C4;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    color: #000000;
}

header {
    padding: 2em;
    background-color: #001B2E;
}

h1 {
    color: #294C60;
    font-size: 3em;
    font: 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ADB6C4;
}

a:visited {
    color: #ffffff;
}