/* :root {
    --primary-color: #001B2E;
    --secondary-color: #294C60;
    --third-color: #e3e3e3;
    --fourth-color: #94FBAB;
    --fifth-color: #e2a4c4;
} */

body {
    /* background-color: var(--third-color); */
    background-color: #e3e3e3;
    font-family: 'Proza Libre', sans-serif;
    color: black;
    font-size: 1.2em;
}

header {
    padding: 2em;
    /* background-color: var(--primary-color); */
    background-color: #00182e;
    color: white;
}


h1 {
    /* color: var(--secondary-color); */
    color: #294C60;
    font-size: 4em;
    font-family: 'Princess Sofia', cursive;
}

h2, h3 {
    /* color: var(--secondary-color); */
    color:#294C60;
    font-family: 'Berkshire Swash', cursive;

}

mark {
    /* background-color: var(--fifth-color); */
    color: #e2a4c4;
}

header a {
    /* color: var(--third-color); */
    color: #e3e3e3;
}

header a:hover {
    /* color: var(--fourth-color); */
    color: #94FBAB;
}
header a:active {
    /* color: var(--fifth-color); */
    color: #e2a4c4;
}

header a:visited {
    /* color: var(--third-color); */
    color: #e3e3e3;
}

a {
    /* color: var(--secondary-color);  */
    color: #294C60;
    text-decoration: none
}

a:hover {
    /* color: var(--primary-color); */
    background-color: #00182e;
}

a:active {
    /* color: var(--fifth-color); */
    color: #e2a4c4;
    /* color: var(--fourth-color); */
}
a:visited {
    /* color: var(--secondary-color); */
    color: #294C60;
}

